* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  background-color: #fafafa;
}

.main-header {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem 10px;
}

.main-header .header-title {
  font-size: 1.15rem;
  font-weight: 900;
}

.main-header .dark-mode {
  background: none;
  border: none;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
}

.search-items {
  margin: 2rem 0;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-items #search-box,
.search-items .region-filter,
.search-items .filter {
  background-color: white;
  border: none;
  padding: 1em 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-items #search-box {
  flex-basis: 100%;
}

.search-items .region-filter,
.search-items .filter {
  margin: 1rem 0;
  position: relative;
}

.search-items .regions {
  list-style-type: none;
  margin: 0;
  text-align: left;
  position: absolute;
  left: 0;
  top: 3.5rem;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000;
}

.search-items .region {
  padding: 1em 2rem;
}

.search-items .region:hover {
  background-color: #f9f9f9;
}

.search-items .closed,
.search-items .filter {
  display: none;
}

.countries {
  max-width: 1200px;
  margin: 0 auto;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(230px, 260px));
  justify-content: center;
  gap: 3rem;
  position: relative;
}

.country {
  display: grid;
  grid-template-rows: 160px 1fr;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 3rem;
  background-color: white;
  cursor: pointer;
}

.country .flag {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.country .details {
  padding: 0 2rem;
}

.country .country-name {
  font-size: 1.15rem;
  margin: 1.2rem 0;
}

.country .prop-name {
  font-weight: 600;
}

.country p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4;
}

.country-modal {
  position: absolute;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  z-index: 1000;
  display: grid;
  grid-template-rows: auto 250px auto;
  grid-template-columns: 400px;
  justify-content: center;
  gap: 1.5rem;
}

.modal-flag {
  width: 100%;
}

.back-btn {
  background-color: white;
  padding: 10px 1.5rem 10px 2.5rem;
  margin-bottom: 5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  justify-self: left;
}

.modal-details .country-name {
  font-size: 1.35rem;
  margin-bottom: 1.5rem;
}

.modal-details .prop:not(:last-child) {
  line-height: 1.8;
}

.modal-details .value {
  font-weight: 300;
}

.modal-open {
  display: none;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
}

.border-countries .borders-title {
  flex-basis: 100%;
  margin: 1em 0;
  font-size: 1rem;
}

.border-countries .border-country {
  background-color: white;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 8px 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.border-countries .border-country:not(:last-child) {
  margin-right: 1rem;
}

@media screen and (min-width: 500px) {
  .search-items {
    margin: 2rem auto;
    max-width: 1200px;
    flex-wrap: nowrap;
  }
  .search-items #search-box {
    flex-basis: 50%;
  }
  .search-items .region-filter,
  .search-items .filter {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .country-modal {
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    align-items: center;
  }
  .country-modal .back-btn {
    grid-column: 1 / -1;
    justify-self: left;
    margin-bottom: 8rem;
  }
  .country-modal .modal-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .country-modal .country-name {
    grid-column: 1 / -1;
  }
  .country-modal .primary-details {
    grid-column: auto / span 1;
  }
  .country-modal .other-details {
    grid-column: span 1 / -1;
  }
  .country-modal .border-countries {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 768px) {
  .border-countries {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */